body {
    font-family: helvetica;
    background-image: url(szachownica.png);
    margin: 0;
    padding: 0;
}

header {
    background-color: #070504;
    color: white;
    padding: 20px;
    text-align: center;
    border: thick double #fff;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
}

.headline {
    font-family: helvetica;
    font-size: 40px;
    font-weight: bold;
}

.list {
    background-color: #ededed;
    color: #000000;
    height: 50px;
    width: 50px;
    float: right;
}

.dropdown {
    font-size: 15px;
    display: none;
    position: absolute;
    top: 60px;
    right: 20px;
    z-index: 1;
    background-color: #f9f9f9;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 6px 5px;
}

.dropdown a {
    color: black;
    padding: 6px 5px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover {
    display: block;
}

.post{
    max-width: 700px;
    max-height: 770px;
    margin: 0 auto;
    margin-top: 5%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: 5px solid black;
    border-bottom-style: none;
    text-align: center;
    overflow-y: scroll;
}

.jpg{
    padding-top: 50px;
    width: 500px;
    height: 500px;
}

.seperator{
    width: 400px;
    border: 0.5px solid black;
}

.seperator2{
    width: 681px;
    border: 0.5px solid thin black;
}
.comments {
    max-width: 700px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 30px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border: 5px solid black;
    text-align: center;
}

.comments h3 {
  margin-top: 0;
}

.comments form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comments label {
  display: block;
  margin-bottom: 5px;
}

.comments input,
.comments textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.comments button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.comments button[type="submit"]:hover {
  background-color: #0069d9;
}